@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cookie&display=swap');

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #333;
}

h1 {
  margin: 30px;
  font-family: 'Berkshire Swash', cursive;
  text-shadow: 7px 0 #444;
  font-size: 8rem;
  color: #f4c84e;
}

p {
  font-size: 2rem;
  color: #f4c84e;
    font-family: 'Berkshire Swash', cursive;

}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Cookie', cursive;
}
