body {
    background: #e0c1c1;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    background: #fff0f0;
    padding: 10px;
    margin: 30px 10%;
  }
  
  #img-caption {
    margin: 15px 0 5px 0;
  }
  
  #tribute-info {
    margin: 40px 10%;
    text-align: justify;
    line-height: 1.5;
  }